<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
</head>

<body>
<div class="jumbotron text-center">
  <h1 id="naslov">WeBeacon</h1>
  <img src="images/logo5.png" alt="logo" id="logo"/>
  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-10" id="signForm">
      <p>Sign in to WeBeacon</p>
          <div class="container">
       <form class="form-inline" role="form" action="/prijavi" method="post" style="margin: auto;max-width: 300px;">
         <div class="form-group">
           <!--div class="row"-->
             <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"></div>
           <!--/div-->
           <input type="email" name ="email" class="form-control" size="30" id="naslovE" placeholder="Email Address">
         </div>
         <div class="form-group">
           <input type="password" name ="pwd" class="form-control" size="30" id="mojeGeslo" placeholder="Password">
         </div>
         <button name="/potrdi" type="submit" class="btn btn-primary" id="signIn" >Sign in</button>
        </form>
        <p id="sporocilo"> <%= sporocilo %> </p>
       </div>
      </div>
      </div>
      </div>

<div class="container-fluid text-center">
  <h2>ABOUT</h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-user logo-small"></span>
      <h4>FOR MEDICAL STAFF</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-plus logo-small"></span>
      <h4>USE IN MEDICINE</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>HELP YOU DO YOUR YOB</h4>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-ok-circle logo-small"></span>
      <h4>CHECK LIST</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-bell logo-small"></span>
      <h4>NOTIFICATION ABOUT NEW TASK</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-flash logo-small"></span>
      <h4>DO YOUR YOB FASTER</h4>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
