<!doctype html>
<html>
<head>
<title>Example of chat</title>

<style>
  * { margin: 0; padding: 0; box-sizing: border-box; }
  body { font: 13px Helvetica, Arial; }
  form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
  form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
  form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px;   }
  #messages { list-style-type: none; margin: 0; padding: 0; }
  #messages li { padding: 5px 10px; }
  #messages li:nth-child(odd) { background: #eee; }
</style>





  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/tasks.css" rel="stylesheet">


</head>
<body>

  <p id="usluzbenci">
    <%=usluzbenci.email%>
  </p>

<ul id="messages"></ul>
 <form action="">
   <input id="m" autocomplete="off" /><button>Send</button>

 </form>

 <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
 <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
 <script>
     var socket = io();
     $('form').submit(function(){
       console.log("<%=usluzbenci.id%>");
       console.log($('#m').val());
       var objekt ={ehr: "1", opis:"Lepa Brena", loc:"0", priority:"1"}
       socket.emit('kreirajOpravilo', $('#m').val(),objekt);
       $('#m').val('');
       return false;
     });
  socket.on('kreiranoOpravilo', function(msg){
    console.log(msg);
   $('#messages').append($('<li>').text(msg));
   $("#usluzbenci").text(msg);

 });
</script> 
 </body>
</html>
